aside.freesound-onebox {
  padding: 12px 12px 12px 12px;
}

.freesound-onebox h3 {
  margin-top: 0;
}

.cooked .freesound-onebox img:not(.thumbnail) {
  max-width: 100%;
  margin-bottom: 12px;
}

.mobile-view audio {
  max-width: 100%;
}

.audiojs audio {
  position: absolute;
  left: 7px;
  z-index: -1;
}

// Hide the download button on Chrome
//audio::-webkit-media-controls {
//  overflow: hidden !important
//}
//audio::-webkit-media-controls-enclosure {
//  width: calc(100% + 32px);
//  margin-left: auto;
//}

