aside.freesound-onebox {
  padding: 12px 12px 12px 12px;
}

.freesound-onebox h3 {
  margin-top: 0;
}

.cooked .freesound-onebox img:not(.thumbnail) {
  max-width: 100%;
  margin-bottom: 12px;
}

.mobile-view audio {
  max-width: 100%;
}

